<ion-header>
  <ion-navbar>
    <ion-title>
      <h4>PWA V3</h4>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        networkMsg is {{networkMsg}}
      </ion-col>
      <ion-col col-12 align-self-center>
        <h4>{{imgPath}}</h4>
        <!-- <img width="50%" src="https://cdn-images-1.medium.com/max/1600/1*AhFm0XyjfG7A_ZG5hC-Hyg.png" alt=""> -->
        <img width="100%" src="{{imgPath}}" alt="{{imgPath}}">
      </ion-col>
      <ion-col col-12>
        <p>{{apiStatus}}</p>
        <p id="jsonOutput"></p>
        <p>
          The world is your oyster.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
